<header id="header">
		<div class="bor-top">
			<div class="container">
				<div class="row show-pc">
					<div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
						<h1><a class="a-home" href=""><img alt="Onme – Xem tivi miễn phí 3G/4G" src="images/onme_logo.svg" /></a></h1>
					</div>
					<div class="col-sm-12 col-md-9 col-lg-9 col-xl-9">
						<ul class="top-nav">
							<li class="active"><a class="goto" data-go="header">Trang chủ</a></li>
							<li class=""><a class="goto " data-go="services">Gói cước</a></li>
							<li class=""><a class="goto " data-go="faqs">Câu hỏi thường gặp</a></li>
							<li class=""><a class="goto " data-go="download">Tải ứng dụng</a></li>
						</ul>
					</div>
				</div>
				<div class="row show-mb">
					<div class="is-logo">
						<h1><a href="#"><img alt="Onme – Xem tivi miễn phí 3G/4G" src="images/onme_logo.svg" /></a></h1>
					</div>
					<div class="is-menu">
						<button class="show-menu"><i class="fa fa-bars" aria-hidden="true"></i></button>
						<a class='app-down' href="/app">Tải ứng dụng</a>
						<ul class="top-nav">
							<li class="active"><a class="goto" data-go="header">Trang chủ</a></li>
							<li class=""><a class="goto" data-go="services">Gói cước</a></li>
							<li class=""><a class="goto" data-go="faqs">Câu hỏi thường gặp</a></li>
							<li class=""><a class="goto" data-go="download">Tải ứng dụng</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section id="slider">
		<div id="owl-main" class="owl-carousel owl-theme">

			<div class="item">
				<img class="img-responsive" src="uploads/banner_01.jpg" alt="">
			</div>
			<!-- /.item -->
		</div>
	</section>

	<section id="services">
		<div class="container">
			<div class="caption vertical-center text-center">
				<h2 class="light-color">Các gói cước của dịch vụ Onme</h2>
			</div>
			<div class="ttable">
				<p style="text-align: center">
				Tặng <b>3GB</b> truy cập ứng dụng <b>ONME</b> (thời gian sử dụng cùng chu kỳ gói chính)<br/>
				khi đăng ký/ gia hạn/ khôi phục thành công 8 gói EcoDATA, Mimax70, Mimax90, Mimax125, Mimax200, Umax300, MimaxSV, OMG
				</p>
				
				<p style="text-align: center">Tặng <b>1GB</b> truy cập ứng dụng <b>ONME</b> (thời gian sử dụng 30 ngày)<br/> 
				Cho thuê bao Viettel chưa đăng ký trải nghiệm dịch vụ <b>ONME</b>. Soạn <b>ONME</b> gửi <b>191</b> hoặc <b>tải ứng dụng</b> tại: <b><a style="color: #000" href="http://onme.vn/app">http://onme.vn/app</a></b>
				</p>

		</div>
	</section>

	<section id="faqs">
		<div class="container">
			<div class="caption vertical-center text-center">
				<h2 class="light-color">Câu hỏi thường gặp</h2>
			</div>

			<div class="panel-group accordion">
				<h2 class="on-qa-title">Onme là gì?</h2>
				<div class="on-qa-content clearfix" style="display: none;">
					<p>Onme là ứng dụng xem truyền hình online chuyên về thể thao với hàng trăm chương trình trực tiếp/các VOD của các giải thể thao lớn Vô địch bóng đá Đức Bundesliga; Giải bóng đá vleague; Bóng đá Brazil; Giải ATP tennis world tour 500; Giải WTA Tennis...</p>
				</div>

				<h2 class="on-qa-title">Onme cung cấp cho khách hàng những dịch vụ tiện ích gì?</h2>
				<div class="on-qa-content clearfix" style="display: none;">
					<p>Ứng dụng Onme là ứng dụng xem truyền hình trên di động với hàng trăm nghìn nội dung hấp dẫn, độc quyền, lần đầu tiên
						có tại Việt Nam</p>
					<ul class="unum">
						<li><p>Các chương trình thể thao lớn được quyền phát sóng trực tiếp trên Onme: </p>
						<p><b>Bóng đá:</b> Ngoại hạng Anh; Vô địch bóng đá Đức Bundesliga; Premier League, V-League; Cúp Quốc gia; Bóng đá Brazil</p>
						<p><b>Bóng chuyền:</b> Giải U19 Châu Á; Cúp Liên Việt (tuyển Nam)</p>
						<p>
						<b>Tennis:</b> Giải ATP tennis world tour 500; Giải WTA Tennis; Giải VTF Pro Tour; Giải các Cây vợt xuất sắc Việt Nam; Giải Tennis Vietnam Open
						</p>
						<p><b>Boxing:</b> Giải WBC và Team Sauerland;</p> 
						<p><b>Golf:</b> Giải  Golf Asian tour; Giải Golf  Ryder Cup 2018</p>
						<p><b>Bóng rổ:</b> Giải bóng rổ chuyên nghiệp VN
						</p>
						</li>
						<li>Hàng chục ngàn video phim bom tấn, phim series và chương trình giải trí hấp dẫn phù hợp mọi lứa tuổi....được cập nhật hàng ngày.</li>
					</ul>
				</div>

				<h2 class="on-qa-title">Onme hỗ trợ các thiết bị nào?</h2>
				<div class="on-qa-content clearfix" style="display: none;">
					<p>Onme hỗ trợ các thiết bị điện thoại, máy tính bảng chạy hệ điều hành Android 4.1 trở lên và điện thoại, máy tính bảng
						chạy hệ điều hành IOS 9.0 trở lên.</p>
				</div>

				<h2 class="on-qa-title">Tôi quên mật khẩu tài khoản Onme. Làm thế nào để lấy lại mật khẩu?</h2>
				<div class="on-qa-content clearfix" style="display: none;">
					<p>Khi bạn quên mật khẩu khi đăng nhập, vui lòng chọn Quên mật khẩu và làm theo hướng dẫn.</p>
				</div>

			</div>
		</div>
	</section>

	<section id="download">
		<div class="container">
			<div class="caption vertical-center text-center">
				<h2 class="light-color"><img src="images/onme_app.svg" /></h2>
				<p class="medium-color" style="color:#fff; margin-top: 30px; font-size: 18px;">Theo dõi các kênh truyền hình, phim truyện, sự kiện trực tiếp... mọi lúc, mọi nơi với ứng dụng Onme</p>
			</div>

			<div class="download">
				<div class="row">
					<div class="hidden-sm-down col-md-3 col-lg-3 col-xl-3 al-center">&nbsp;</div>
					<div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 al-center" >
						<a href="http://onme.vn/app?os=ios" target="_blank" id="iosApp"><img alt="Tải Onme trên kho Appstore" src="images/ios_app.svg"/></a>
					</div>
					<div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 al-center" >
						<a href="http://onme.vn/app?os=android" target="_blank"  id="androidApp"><img alt="Tải Onme trên kho Google Play" src="images/android_app.svg"/></a>
					</div>
					<div class="hidden-sm-down col-md-3 col-lg-3 col-xl-3 al-center">&nbsp;</div>
				</div>


			</div>
		</div>
	</section>

	<section id="terms">
		<div class="container">
			<div class="caption vertical-center text-center">
				<h2 class="light-color">Các điều khoản sử dụng</h2>
				<p class="medium-color">
					Bạn vui lòng đọc kỹ Điều khoản sử dụng ("Điều khoản") trước khi tiến hành cài đặt bất kỳ phần nào của ứng dụng Onme ("Ứng
					dụng") (bao gồm nhưng không giới hạn các phần mềm, các file và tài liệu liên quan) hoặc sử dụng các dịch vụ do Tập đoàn
					Viễn thông Quân đội cung cấp để kết nối đến Ứng dụng. Bạn chấp thuận và đồng ý bị ràng buộc bởi các quy định và điều
					kiện trong Điều khoản này khi thực hiện các thao tác trên đây. Trường hợp Bạn không đồng ý với bất kỳ điều khoản sử
					dụng nào của chúng tôi (phiên bản này và các phiên bản cập nhật), Bạn vui lòng không tải, cài đặt, sử dụng Ứng dụng
					hoặc tháo gỡ Ứng dụng ra khỏi thiết bị di động của bạn.
				</p>
			</div>

			<div class="panel-group accordion">
				<h2 class="on-qa-title">1. Quyền sở hữu Ứng dụng</h2>
				<div class="on-qa-content clearfix" style="display: none;">
					<p>
						- Ứng dụng này được phát triển và sở hữu bởi Tập đoàn Viễn thông Quân đội, tất cả các quyền sở hữu trí tuệ liên quan đến
						Ứng dụng (bao gồm nhưng không giới hạn mã nguồn, hình ảnh, dữ liệu, thông tin, nội dung chứa đựng trong Ứng dụng; các
						sửa đổi bổ sung, cập nhật của Ứng dụng) và các tài liệu hướng dẫn liên quan (nếu có) sẽ thuộc quyền sở hữu duy nhất
						bởi Tập đoàn Viễn thông Quân đội và không cá nhân, tổ chức nào được phép sao chép, tái tạo, phân phối, hoặc hình thức
						khác xâm phạm tới quyền của chủ sở hữu nếu không có sự đồng ý và cho phép bằng văn bản của Tập đoàn Viễn thông Quân
						đội.
					</p>
					<p>
						- Để sử dụng Ứng dụng bạn phải tạo một tài khoản theo hướng dẫn của chúng tôi, bạn cam kết rằng việc sử dụng tài khoản phải
						tuân thủ các quy định của Tập đoàn Viễn thông Quân đội, đồng thời tất cả các thông tin bạn cung cấp cho chúng tôi là
						chính xác, đầy đủ tại thời điểm được yêu cầu.
					</p>
					<p>
						- Mọi quyền lợi và nghĩa vụ của bạn sẽ căn cứ trên thông tin tài khoản của bạn đã đăng ký, do vậy nếu có bất kỳ thông tin
						sai lệch nào chúng tôi sẽ không chịu trách nhiệm trong trường hợp thông tin đó làm ảnh hướng hoặc hạn chế quyền lợi
						của bạn.
						<p>
							- Bạn có quyền sử dụng Ứng dụng và các dịch vụ khác mà chúng tôi cung cấp, tuy nhiên việc sử dụng đó sẽ không bao gồm các
							hành vi sau đây nếu không có sự đồng ý bằng văn bản của Tập đoàn Viễn thông Quân đội:
							<p>
								<ul>
									<li>Sao chép, chỉnh sửa, tái tạo ra sản phẩm mới hoặc phiên bản tái sinh trên cơ sở Ứng dụng Onme;</li>
									<li>Bán, chuyển giao, cấp quyền lại, tiết lộ hoặc hình thức chuyển giao khác hoặc đưa một phần hoặc toàn bộ Ứng dụng
										cho bất kỳ bên thứ ba;</li>
									<li>Sử dụng Ứng dụng để cung cấp dịch vụ cho bất kỳ bên thứ ba (tổ chức, cá nhân);</li>
									<li>Di chuyển, xóa bỏ, thay đổi bất kỳ thông báo chính đáng hoặc dấu hiệu nào của Ứng dụng (bao gồm nhưng không giới
										hạn các tuyên bố về bản quyền);</li>
									<li>Thiết kế lại, biên dịch, tháo gỡ, chỉnh sửa, đảo lộn thiết kế của Ứng dụng, hoặc nội dung Ứng dụng;</li>
									<li>Thay đổi hoặc hủy bỏ trạng thái ban đầu của Ứng dụng;</li>
									<li>Sử dụng Ứng dụng để thực hiện bất kỳ hành động gây hại cho hệ thống an ninh mạng của Tập đoàn Viễn thông Quân đội,
										bao gồm nhưng không giới hạn sử dụng dữ liệu hoặc truy cập vào máy chủ hệ thống mạng để xóa bỏ, chỉnh sửa và thêm
										các thông tin; phát tán các chương trình độc hại, virut hoặc thực hiện bất kỳ hành động nào khác nhằm gây hại hoặc
										phá hủy hệ thống mạng;</li>
									<li>Đăng nhập và sử dụng Ứng dụng bằng một phần mềm tương thích của bên thứ ba hoặc hệ thống không được phát triển,
										cấp quyền hoặc chấp thuận bởi Tập đoàn Viễn thông Quân đội. </li>
									<li>Sử dụng, bán, cho mượn, sao chép, chỉnh sửa, kết nối tới, phiên dịch, phát hành, công bố các thông tin </li>
									<li>Các hình thức vi phạm khác… </li>
								</ul>
				</div>

				<h2 class="on-qa-title">2. Xử lý vi phạm</h2>
				<div class="on-qa-content clearfix" style="display: none;">
					<p>- Trường hợp bạn vi phạm bất kỳ Quy định nào trong Thỏa thuận này, Tập đoàn Viễn thông Quân đội có quyền ngay lập tức
						khóa tài khoản của bạn và hoặc xóa bỏ toàn bộ các thông tin, nội dung vi phạm, đồng thời tùy thuộc vào tính chất, mức
						độ vi phạm bạn sẽ phải chịu trách nhiệm trước cơ quan có thẩm quyền, Tập đoàn Viễn thông Quân đội và bên thứ ba về
						mọi thiệt hại gây ra bởi hoặc xuất phát từ hành vi vi phạm của bạn.</p>
				</div>

				<h2 class="on-qa-title">3. Quyền Truy cập và Thu thập thông tin</h2>
				<div class="on-qa-content clearfix" style="display: none;">
					<p>- Khi sử dụng Ứng dụng, bạn thừa nhận rằng chúng tôi có quyền sử dụng những API hệ thống sau để truy cập vào dữ liệu
						trên điện thoại của bạn. </p>
					<p>- Bạn đồng thời chấp nhận việc nhận tin nhắn truyền thông, quảng cáo các dịch vụ từ Official Account Onme và Viettel.
					</p>
					<p>- Chúng tôi cũng thu thập các thông tin sau của bạn: </p>
					<ul>
						<li>Thông tin cá nhân: bao gồm các thông tin bạn cung cấp cho chúng tôi để xác nhận tài khoản như tên, số điện thoại, địa
							chỉ email; </li>
						<li>Thông tin chung: Các thông tin về cấu hình điện thoại của bạn, phiên bản Ứng dụng mà bạn đang sử dụng;</li>
					</ul>
				</div>

				<h2 class="on-qa-title">4. Cam kết bảo mật thông tin</h2>
				<div class="on-qa-content clearfix" style="display: none;">
					<p>- Chúng tôi cam kết giữ bí mật tất cả các thông tin mà bạn cung cấp cho Tập đoàn Viễn thông Quân đội hoặc thông tin
						chúng tôi thu thập được từ bạn và không tiết lộ với bất kỳ bên thứ ba nào trừ khi có yêu cầu từ Cơ quan Nhà nước có
						thẩm quyền.</p>
				</div>

			</div>
		</div>
	</section>

	<footer id="footer">
		<div class="container">
			<div class="row row-1">
				<div class="al-center">
					<span class="copyright">&copy; 2018 VTVcab &amp; Viettel bảo lưu mọi quyền</span>
				</div>

			</div>
			<div class="row row-2">
				<div class="row-wrap">
					<div class="r-item">
						<a target="_blank" href="http://www.viettel.com.vn"><img src="images/viettel_logo.svg"/></a>
						<a target="_blank" href="http://on.vtvcab.vn"><img src="images/vtvcab_icon.png"/></a>
						<a href="tel:+8418008098"><img src="images/call_center.svg"/></a>
					</div>
				</div>

			</div>

		</div>
	</footer>
	<div class="fix-right">
		<ul class="ul-footer-social">
			<li><a class="call" href="tel:+8418008098"><img src="images/support.png"/></a></li>
			<li><a class="facebook" href="https://www.facebook.com/Onme.vn/" target="_blank"><img src="images/facebook_icon.png"/></a></li>
			<li><a class="twitter" href="#"><img src="images/twitter_icon.png"/></a></li>
			<li><a class="googleplus" href="#"><img src="images/google_icon.png"/></a></li>
			<li><a class="youtube" href="#"><img src="images/youtube_icon.png"/></a></li>
		</ul>
	</div>